div {
  margin: 10px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.text-line {
  width: 50%;
  height: 15px;
  border-radius: 10px;
}

.short-line {
  width: 30%;
  height: 15px;
  border-radius: 10px;
}

.skeleton {
  background: linear-gradient(to right, #e8e8e8 40%, #fefefe 50%, #e8e8e8 60%);
  background-size: 200%;
  background-position-x: 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: -100%;
  }
}
