*{
    box-sizing: border-box;
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #a3a3a3;
    border-radius: 4px;
    height: 100%;
}
.container h3 {
 font-size: 2rem;;
}

.counter {
    border-radius: .5rem;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

button {
    margin-right: 1rem;
    padding: .5rem;
    background-color: #ffffff;
    border: 1px solid #a3a3a3;
    border-radius:.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.increment {
    background-color: #2ae20a;
}
.decrement {
    background-color: #f84747;
}

.change-factor  {
    padding: 2rem;
}
